
*{
    box-sizing: border-box;
}
:root{
    --violet: #F39494;
    --title: #333333;
    --text: #666666;
    --placeholderColor: #999999;
    --textWhile: #fff;
    --link: #089FE0;
    --font: 'Open Sans', sans-serif;
}
html, body{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--violet);
    
}
form{
    max-width: 100%;
    width: 582px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 16px;
    background-color: #FFFEFE;
    padding-top: 72px;
    margin-top: 225px;
    padding-left: 90px;
    padding-right: 90px;
    font-weight: 400;
    margin-bottom: 226px;
}
form h1{

    font-family: var(--font);
    font-size: 36px;
    line-height: 1.4;
    font-weight: 700;
    text-align: center;
    color: var(--title);
    margin: 0;
}
form p{
    font-size: 18px;
    color: var(--text);
    font-family: var(--font);
    margin-top: 0;
}
form p a{
    color: var(--link);
    font-family: var(--font);
    border-bottom: 1px solid ;
}
form input:required{
    font-style: italic;
}
.formInput {
    margin-top: 47px;
}
.formInput input{
    width: 100%;
    padding-left: 10px;
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 11px;
    font-size: 16px;
    background-color: #F5F5F5;
}
.Name-Familly{
    display: flex;
    flex-wrap: nowrap; 
}
.Name-Familly input{
    padding-left: 11px;
    padding-top: 9px;
    padding-bottom: 9px;
    flex: 1 1 calc(100% / 2);
    border: none;
    font-size: 16px;
    background-color: #F5F5F5;
    margin-top: 22px;
}
.Name-Familly_left{
    margin-right: 5px;
}
.formInput{
    width: 100%;
    margin-top: 22px;
}
.company input{
    font-weight: bold;
}
button{
    padding: 10px 0;
    width: 100%;
    max-width: 394px;
    font-family: var(--font);
    text-align: center;
    font-size: 1.5em;
    background-color: var(--link);
    color: #fff;
    border: none;
    margin-top: 30px;
    margin-bottom: 22px;
    border-radius: 5px;
}
.check{
    color: var(--text);
    font-size: 14px;
    /* margin-bottom: 90px; */
}
.check span{
    color: var(--link);
    margin-bottom: 90px;
    display: inline-block;
}

@media screen and (max-width:370px){
    .Name-Familly{
        display: flex;
        flex-direction: column;
    }
    .Name-Familly_left{
        margin-right: 0;
    }
}